@using Radzen
@using Radzen.Blazor

@if (IsVisible)
{
	<div class="modal-backdrop fade show"></div>

	<div class="modal fade show" style="display:block; z-index: 1051;" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Create Task</h5>
					<button type="button" class="btn-close" @onclick="CloseCreateTaskModal"></button>
				</div>
				<div class="modal-body">
					<div class="form-container">
						<form @onsubmit="HandleSubmit">

							<div class="form-group">
								<label for="title">Grade</label>
								<br />
								<RadzenNumeric @bind-Value="@GradeBeingCreated.Grade" />
							</div>

							<div class="form-group">
								<label for="assignedTo">Assigned To</label>
								<br />
								<RadzenDropDown TValue="StudentViewModel" Change="@OnSelectStudent" Data="@students" />
							</div>

							<div class="form-group">
								<label for="assignedTo">Assignment</label>
								<br />
								<RadzenDropDown TValue="AssignmentViewModel" Change="@OnSelectAssignment" Data="@assignments" />
							</div>

							<button style="margin-top:5px;" type="submit" class="btn btn-primary">Create Grade</button>
							@if (showErrorMessage)
							{
								<p class="error-message">Something went wrong</p>
							}
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick="CloseCreateTaskModal">Close</button>
				</div>
			</div>
		</div>
	</div>
}

<style>
	.modal-backdrop.fade.show {
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1040;
	}

	.modal {
		z-index: 1051;
	}

	.error-message {
		color: red;
		font-weight: bold;
	}
</style>